<!doctype html>
<html lang="en">

<head>
    <title>Login From</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap">
    {% load static %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css">
</head>
<style>
    #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #2F2BE2;
      color: #fff;
      text-align: center;
      border-radius: 10px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }
    
    #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;} 
      to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;} 
      to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }
    </style>
<body>
    <div class="container">
        <div class="myCard">
            <div class="row">
                <div class="col-md-5">

                    <div class="myLeftCtn">
                        <div class="col-12 text-center">
                            <div class="mt-5 pt-5" style="height: 100px;">
                                {% load static %}
                                <img src='/static/images/icon1.png' class="droap">
                                <div class="blr">

                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <br><br>
                            <br>
                            <h4 style="color: #ffffff; text-shadow: 1px 1px 2px rgba(245, 245, 247, 0.6);">CITY WATER SYSTEM</h4>
                            <br><br>
                            <br>
                            <small style="color: #ffffff;">POWERED BY</small><br>
                            {% load static %}
                            <img alt="logo" class="img-fluid" src="static/images/logo1.png" style="height: 40px;">
                        </div>

                    </div>
                </div>
                <div class="col-md-7">
                    
                    {% csrf_token %}
                    <div class="myRightCtn">
                        <!--<header>Hello World</header>-->

                        <form class="myform text-center" method="POST" action="ForgotPassword" >
                            {% csrf_token %}
                            
                            <header>Reset-Password</header>
                            <div class="form-group">
                                <i class='fas fa-user-alt'></i>
                                
                                <input class="myInput" type="text" placeholder="LoginId" id="Email" name="email"  required>
                            </div>

                            <div class="form-group">
                                <i class="fas fa-envelope-open"></i>
                                <input class="myInput" type="text" placeholder="Password" id="password" name="password"  onblur="checkPasswordMatch()" required>
                            </div>

                            <div class="form-group">
                                <i class="fas fa-envelope-open"></i>
                                <input class="myInput" type="text" placeholder="ReEnter-Password" id="Repassword" name="repassword" onblur="checkPasswordMatch()" required>
                        
                            </div>

                            <input type="submit" class="butt" value="Change Password">


                            <div id="snackbar">Passwords does not match</div>
                            



                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $('#cpt').bind("cut copy paste", function(e){
            e.preventDefault();
        })
    </script>
    <script>
        function checkPasswordMatch(){
            var a = document.getElementById("password").value;
            var b = document.getElementById("Repassword").value;
            if(a != b){
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            }
            
        }
    </script>
    <script>
            var msg = "{{message}}";
            if (msg == "Invalid loginid"){
                alert(msg);
            }else if(msg == "Passwords entered does not match"){
                alert(msg);
            }else if(msg == "some error occured"){
                alert(msg);
            }
            
            
        
    </script>
   
   
</body>


</html>